*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

}

.BGContainer {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: lightslategray;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 6px;
    width: 100%;
    height: 80px;
    background-color: black;
    position: fixed;
    
}

.brand {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;
}

.firstname {
    color: white;
    font-weight: 700;
}

.lastname {
    color: skyblue;
    font-weight: 400;
    padding-left: 4px;
}

form {
    display: flex;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

button[type="submit"] {
    width: 40px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: white;
    border: none;
    outline: none;
}

.search-container {
    max-width: 600px;
    width: 100%;
    margin: auto;
    z-index: 999;
}

.search-container input[type="search"] {
    visibility: visible;
    outline: none;
    border: none;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}

.search-container .search-button {
    display: none;
}

.shortcut-icon {
    position: relative;
}

@media only screen and (max-width: 600px) {
    .navigation {
        visibility: hidden;
    }

    .shortcut-icon {
        visibility: visible;
    }

    .search-container .search-button {
        display: block;
    }

    .shortcut-icon {
        position: absolute;
        top: auto;
        right: auto;
    }
}

.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
}

.navigation>li {
    list-style-type: none;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navigation>li>a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navigation>li>a:hover {
    color: skyblue;
}

.content {
    width: 50vw;
    height: 60vh;
    margin: auto;
    justify-content: center;
}

#input-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border:1px solid black;
    margin-top: 50px;
    background-color: white;
}

input, textarea{
    width: 95%;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 20px;
    height: 60px;
    color: black;
}

.buttonsave{
    background: transparent;
    color: black;
    width: 15%;
    margin-left: 80%;
    padding-bottom: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.notes{
    border: 1px solid black;
    background: transparent;
}

.ikon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ikon i {
    display: block;
    margin: 50px;
    font-size: 24px;
    color: black;
    transition: all .50s ease;
}

.ikon i:hover {
    color: lightblue;
    transform: translateY(-5px);
}

.ikon>a {
    border: none;
    outline: none;
    text-decoration: none;
}

.brush-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brush-icon i {
    font-size: 24px;
    color: black;

}

.brush-icon i:hover {
    color: lightblue;
}*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

}

.BGContainer {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: lightslategray;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 6px;
    width: 100%;
    height: 80px;
    background-color: black;
    position: fixed;
    
}

.brand {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;
}

.firstname {
    color: white;
    font-weight: 700;
}

.lastname {
    color: skyblue;
    font-weight: 400;
    padding-left: 4px;
}

form {
    display: flex;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

button[type="submit"] {
    width: 40px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: white;
    border: none;
    outline: none;
}

.search-container {
    max-width: 600px;
    width: 100%;
    margin: auto;
    z-index: 999;
}

.search-container input[type="search"] {
    visibility: visible;
    outline: none;
    border: none;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}

.search-container .search-button {
    display: none;
}

.shortcut-icon {
    position: relative;
}

@media only screen and (max-width: 600px) {
    .navigation {
        visibility: hidden;
    }

    .shortcut-icon {
        visibility: visible;
    }

    .search-container .search-button {
        display: block;
    }

    .shortcut-icon {
        position: absolute;
        top: auto;
        right: auto;
    }
}

.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
}

.navigation>li {
    list-style-type: none;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navigation>li>a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navigation>li>a:hover {
    color: skyblue;
}

.content {
    width: 50vw;
    height: 60vh;
    margin: auto;
    justify-content: center;
}

#input-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border:1px solid black;
    margin-top: 50px;
    background-color: white;
    border-radius: 5px;
}

.input:hover {
    box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.5);
}

.boldtext {
    font-weight: bold;
}


input, textarea{
    width: 95%;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 20px;
    height: 40px;
    color: black;
}

.buttonsave{
    background: transparent;
    color: black;
    width: 15%;
    margin-left: 80%;
    padding-bottom: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.buttonsave:hover{
    color: lightgray;
}

#notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    width: 50%;
    margin: 330px;
    margin-left: 53vh;
    justify-content: space-evenly;
}

.note {
    border: none;
    outline: none;
    background: white;
    margin: 10px;
    height: 40px;
    width: calc(28% - 20px);
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
}

.note:hover {
    box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.5);
}


.hapusnote{
    float: right;
    justify-content: center;
    align-items: flex-end;
    background: transparent;
    border: none;
    cursor: pointer;
    color: rgb(199, 27, 27);

}

.ikon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ikon i {
    display: block;
    margin: 50px;
    font-size: 24px;
    color: black;
    transition: all .50s ease;
}

.ikon i:hover {
    color: lightblue;
    transform: translateY(-5px);
}

.ikon>a {
    border: none;
    outline: none;
    text-decoration: none;
}