*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    scrollbar-width: none;
    
}

/* Container Background */
.BGContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(112, 112, 112);
    overflow-x: hidden;
    width: 100%;
    background-size: cover;
}

/* Navigasi */
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 6px;
    background-color: transparent;
    width: 100%;
    z-index: 999;
}

.brand {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: #fff;
    padding-left: 10px;
}

.firstname {
    font-weight: 700;
}

.lastname {
    color: white;
    font-weight: 400;
    margin-right: 20px;
    padding-left: 4px;
}
/*pembatas logo dan search*/
.separator {
    height: 40px;
    margin: 0 2vw; /* Sesuaikan dengan lebar viewport */
}

@media (max-width: 768px) {
    .separator {
        border: none; /* Hilangkan margin saat zoom in */
    }
}

/* Form Pencarian */
form {
    display: flex;
    color: white;
    width: 30vw; /* Menggunakan unit vw agar responsif */
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
}   


form:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw; /* Menggunakan unit vw agar responsif */
}

.search-input {
    flex: 1;
}

#searchInput {
    width: 70vw; /* Sesuaikan dengan lebar viewport */
    height: 35px;
    padding: 0 10px;
    font-size: 16px;
    color: white;
    transform: scale(1.1);
    border: 1px solid white;
}

#searchInput::placeholder {
    color: white;
}

button[type="submit"] {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    margin-left: 15px;
}


/* Icon search */
button[type="submit"] i {
    font-size: 24px;
    transition: transform 0.3s ease;
}


/* Popup User */
.shortcut-icon {
    position: relative;
}

.user {
    cursor: pointer;
}

.popup {
    display: none;
    height: 50px;
    top: 95px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    position: absolute;
    
}

.popup.active {
    display: block;
    transform: translate(-50%, -50%) scale(1);
    height: 100px;
    margin-top: 33px;
    width: 250px;
    box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.5);
    left: calc(50% - 100px);
    cursor: default;
}

.popup.active .profile {
    margin-right: 70px;
}

/* Navigasi */
.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    background-color: transparent;
}

.brand {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: #fff;
    padding-left: 2vw; /* Sesuaikan dengan lebar viewport */
}

.navigation>li {
    list-style-type: none;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navigation>li>a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navigation>li>a:hover {
    color: skyblue;
}

@media (max-width: 750px) {
    .wrapper {
        flex-direction: column;
        align-items: stretch;
    }

    .navigation {
        order: 2;
        width: 100%;
        justify-content: center;
    }

    .search-container {
        order: 2;
    }
    @media (max-width: 768px) {
        .welcome-section {
            background-size: 220vh;
            background-repeat: no-repeat;
            color: #3c3939;
        }
    }
}

.welcome-section {
    position: relative; /* Membuat posisi relatif untuk pengaturan absolut */
    text-align: center;
    padding: 70px 0;
    background-image: url('/image/notepad2.jpeg');
    background-size: cover;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    font-size: 0.8em;
    background-repeat: no-repeat;
    overflow: hidden; /* Menghindari konten berlebihan muncul di luar kotak */
}

.welcome-section h1 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.welcome-text h2 {
    margin-bottom: 20px;
    font-weight: normal;
}


/* Konten */
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#input-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
}

#addText {
    padding-right: 10px;
    box-sizing: border-box;
    line-height: 1.5;
    word-wrap: break-word;
}


input, textarea {
    width: calc(120% - 90px);
    width: 90vh;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 20px;
    height: 20px;
    color: #000;
    list-style-type: none;
    resize: none;
}

@media (min-width: 00px) {
    input, textarea {
        width: 45vw; 
    }
}

.buttonsave {
    background: transparent;
    color: #000;
    width: 15%;
    margin-left: 80%;
    padding-bottom: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px; 
}


/* Catatan */
#notes {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: space-evenly;
    max-height: calc(100vh - 50px);
    scrollbar-width: none;
}

.note {
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 100%;
    
    max-width: 300px;
}

.note:hover {
    box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px); 
}

.note .text {
    color: #666;
    line-height: 1.5;
    word-wrap: break-word;
}

.note .date {
    position: absolute;
    bottom: 5px;
    right: 5px; 
    color: #666; 
    font-size: 14px; 
}

.date {
    position: absolute;
    bottom: 2px; 
    justify-content: center;
    color: #666; 
    font-size: 15px; 
    margin-top: 10px; 
}


.note .title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.note .text {
    color: #666;
    line-height: 1.5;
}

.note .editnote, .note .hapusnote {
    position: absolute;
    top: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #3c3939;
    transition: color 0.3s ease;
    font-size: 16px;
}

.note .editnote:hover, .note .hapusnote:hover {
    color: #333;
}

.note .hapusnote {
    right: 10px;
}

.note .editnote {
    position: absolute;
    top: 5px;
    right: 40px; 
    background: transparent;
    border: none;
    cursor: pointer;
    color: #3c3939; 
}

.note .editnote i, .note .hapusnote i {
    font-size: 18px;
    color: rgb(112, 112, 112);
}

.note:hover {
    box-shadow: 0 0 10px 0.1px rgba(0, 0, 0, 0.5);
}

/* Responsif */
@media (min-width: 600px) {
    .note {
        width: 45vw;
    }
}

.footer {
    position: inherit;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #666;
    color: white;
    text-align: center;
    padding: 30px 0;
    height: 10px;
    z-index: 000;
}
.credit-circle {
    color: white;
    font-size: 1.2em;
    vertical-align: middle;
}